.setting-background-uploader {
  width: 100%;
  .ant-upload-wrapper .ant-upload-drag .ant-upload {
    padding: 0px !important;
  }
}

.ant-upload-wrapper .ant-upload-drag .ant-upload {
  padding: 0px !important;
}
.ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select{
    background: #fff;
}
.ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select{
    // border-radius: 8px;
}

.profileActionButtons {
  min-width: 120px;
}
